<div class="container">
  <%=@card.question%>
  <form action="/card/<%=@card.id%>" method="post">
    Answer: <input type="text" name="card[answer]">
    <input type="submit" value="Submit">
  </form>

</div>
