<div class="container">
  <%=@cards.first.question%>
  <form action="/card/<%=@cards.first.id%>" method="post">
    Answer: <input type="text" name="card[answer]">
    <input type="submit" value="Submit">
  </form>

</div>
