<form action="/deck/new" method="post" class="container">
  <label for="topic">Topic:</label><input type="text" name="deck[topic]"/>
  <label for="card_count">Number of Cards:</label><input type="text" name="card_count"/>
  <input type="submit" value="Create Deck"/>
</form>
