<p class="stats"><%= @correct_guesses.length.to_s + "/" + @round_guesses.length.to_s + "correct" %></p>


<h2>Questions You Suck At</h2>
<ul class="stats">
  <% @incorrect_guesses.each do |guess| %>
  <li><%= guess.card.question %></li>
  <% end %>
</ul>

<h2>Question You Rock At</h2>

<ul class="stats">
  <% @correct_guesses.each do |guess| %>
  <li><%= guess.card.question %></li>
  <% end %>
</ul>

<a href="/decks">Decks list</a>
